.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  margin: auto;
  padding: 10px;
  
}

h2 {
  margin-top: 0px;
}

.game {
  margin: auto;
  background-color: #A1A2A3;
}

